{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="container-fluid">
        <h1 class="text-success">Lucky number: {{ number }}</h1>
        <a href="{{ path(random_number,{max:20}) }}"></a>
    </div>
{% endblock %}