{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="container-fluid">
        <h1 class="text-danger">Lucky number:{{ number }}</h1>
        {% for day in days %}
        <h4>{{ day }}</h4>
        {% endfor %}
    </div>
{% endblock %}